<div class="breadcrumbs">
    <div class="breadcrumbs__container container">
        <nav class="breadcrumbs-navigation">
            <ol class="breadcrumbs-navigation__list" role="list">
                <li class="breadcrumbs-navigation__item">
                    <a class="breadcrumbs-navigation__page link link--sm" href="/home">Home</a>
                </li>
                <li class="breadcrumbs-navigation__item">
                    <a class="breadcrumbs-navigation__page link link--sm" href="/women">Women</a>
                </li>
                <li class="breadcrumbs-navigation__item">
                    <span class="breadcrumbs-navigation__current"><span>White</span> unisex t-shirt</span>
                </li>
            </ol>
        </nav>
    </div>
</div>