.interesting {
  margin-bottom: 6.8125rem;

  &__container {
    max-width: 76.5rem;
  }

  &__heading {
    color: $text-color-quaternary;
    text-align: center;
    margin-bottom: 4rem;
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
  }
}
