.product {
  margin-bottom: 6.25rem;
}

.product__container {
  max-width: 77.5rem;
  display: grid;
  grid-template-columns: 60.6667% 34%;
  column-gap: 4rem;
  row-gap: 3.0625rem;
}

.product__image {
  display: block;
  max-width: 29.5625rem;
  width: 100%;
  object-fit: contain;
  margin: 0 auto;
}

.product__form {
  display: block;
  max-width: 25.5rem;
  width: 100%;
}

.form__heading {
  margin-bottom: 1.5rem;
}

.form__price {
  font-size: 1.25rem;
  letter-spacing: 0.0125rem;
  margin-bottom: 1.5rem;
}

.form__tax {
  color: var(--text-color-secondary);
  letter-spacing: 0.01rem;
  margin-bottom: 3rem;
}

.form__fildset {
  margin-bottom: 1.5rem;
}

.form__quantity {
  margin-bottom: 2.5rem;
}

.form__button {
  margin-bottom: 0.75rem;
}

.form__button:disabled {
  background-color: var(--background-button-disabled);
  cursor: not-allowed;
  border-color: transparent;
}

.form__button:last-of-type {
  margin-bottom: 3rem;
}

.form__error {
  color: var(--text-color-error);
  margin-bottom: 1rem;
}

.form__info {
  font-size: 1.125rem;
  line-height: 1.2222;
  letter-spacing: -0.01125rem;
}

.form__info:last-of-type {
  margin-top: 1.375rem;
}

.fieldset {
  border: none;
}

.fieldset__title {
  letter-spacing: 0.01rem;
  margin-bottom: 0.75rem;
}

.fieldset__group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.radio__label {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: var(--time-transition-label) linear;
  position: relative;
}

.radio__size {
  letter-spacing: -0.01rem;
}

.radio__input:checked ~ .radio__label {
  border: 0.0625rem solid var(--border-color-input-checked);
}

.radio__input:checked ~ .radio__label > .radio__size {
  font-weight: 500;
}

.radio__input:disabled ~ .radio__label {
  cursor: not-allowed;
}

.radio__input:disabled ~ .radio__label::after {
  content: '';
  position: absolute;
  width: calc(100% * 1.4142);
  border-bottom: 0.0625rem solid var(--border-color);
  transform: rotateZ(-45deg);
  left: -0.53125rem;
  bottom: 1.21875rem;
}

.radio__label--size {
  border: 0.0625rem solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio__input:disabled ~ .radio__label--size {
  border: none;
  background-color: var(--background-input-disabled);
  cursor: not-allowed;
}

.radio__input:disabled ~ .radio__label--size > .radio__size {
  color: var(--text-color-complementary-dark);
}

.radio__label--color {
  border: 0.0625rem solid transparent;
  padding: 0.1875rem;
}

.radio__label--color:hover {
  border: 0.0625rem solid var(--border-color);
  position: relative;
  transition: var(--time-transition-label) linear;
}

.radio__label--color::before {
  content: attr(data-title);
  position: absolute;
  display: block;
  left: 1.625rem;
  bottom: 1.625rem;
  color: var(--text-color-secondary);
  font-size: 0.8125rem;
  line-height: 1.231;
  white-space: nowrap;
  background-color: var(--background-input-hover);
  border: 0.0625rem solid var(--border-color);
  padding: 0.1875rem 0.1875rem 0.21875rem 0.21875rem;
  z-index: 1;
  opacity: 0;
  transition: var(--time-transition-label) linear;
}

.radio__label--color:hover::before {
  opacity: 1;
}

.radio__color {
  width: 100%;
  height: 100%;
  border: 0.03125rem solid var(--border-color);
}

.radio__color--white {
  background-color: var(--color-white);
}

.radio__color--black {
  background-color: var(--color-black);
}

.radio__color--gray {
  background-color: var(--color-gray);
}

.radio__color--purple-latte {
  background-color: var(--color-purple-latte);
}

.radio__color--pink-latte {
  background-color: var(--color-pink-latte);
}

.radio__color--orange-latte {
  background-color: var(--color-orange-latte);
}

.quantity {
  border: none;
}

.quantity__title {
  letter-spacing: 0.0625rem;
  margin-bottom: 0.75rem;
}

.quantity__controls {
  display: flex;
}

.quantity__input {
  font-size: 1.125rem;
  line-height: 1;
  border-radius: 0;
  border: transparent;
  border-top: 0.0625rem solid var(--border-color);
  border-bottom: 0.0625rem solid var(--border-color);
  text-align: center;
  padding: 0.53125rem 0.1875rem;
  transition: var(--time-transition-button) linear;
}

.quantity__input::-webkit-inner-spin-button {
  appearance: none;
}

.quantity__input:focus-visible {
  outline: none;
}

.quantity__input:hover,
.quantity__input:focus {
  border-color: var(--border-color-hover);
}

.quantity__input:hover ~ .quantity__button--increase,
.quantity__input:focus ~ .quantity__button--increase {
  border-right-color: var(--border-color-hover);
}

.quantity__input:hover ~ .quantity__button--decrease,
.quantity__input:focus ~ .quantity__button--decrease {
  border-left-color: var(--border-color-hover);
}

.quantity__button {
  max-width: 40px;
  width: 100%;
  color: var(--text-color-secondary);
  background-color: inherit;
  border: 0.0625rem solid var(--border-color);
  border-radius: 0;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  transition: var(--time-transition-button) linear;
}

.quantity__button:hover {
  border-color: var(--border-color-hover);
}

.quantity__button:active {
  border-color: var(--border-color-hover);
  background-color: var(--background-quantity-active);
}

.quantity__button--increase {
  order: -1;
}

@keyframes animationShow {
  from {
    max-height: 0;
    padding: 0;
  }
  to {
    max-height: 100%;
    padding: 0.5rem 0 2.5rem;
  }
}

@keyframes animationHide {
  from {
    max-height: 100%;
    padding: 0.5rem 0 2.5rem;
  }
  to {
    max-height: 0;
    padding: 0;
  }
}

.accordion__list {
  list-style: none;
}

.accordion__item {
  border-top: 0.0625rem solid var(--border-color);
}

.accordion__item:last-of-type {
  border-bottom: 0.0625rem solid var(--border-color);
}

.accordion__button {
  appearance: none;
  display: block;
  width: 100%;
  padding: 2rem 0;
  color: inherit;
  background-color: inherit;
  text-align: start;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 0.01rem;
  border: none;
  cursor: pointer;
  position: relative;
}

.accordion__button::before {
  content: '';
  position: absolute;
  width: 0.75rem;
  border-bottom: 0.0625rem solid var(--text-color-primary);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.accordion__button::after {
  content: '';
  position: absolute;
  height: 0.75rem;
  border-right: 0.0625rem solid var(--text-color-primary);
  right: 0.375rem;
  top: 50%;
  transform: translateX(50%) translateY(-50%);
  transition: transform var(--time-accordion-animation) linear;
}

.accordion__item--open .accordion__button::after {
  transform: translateX(50%) translateY(-50%) rotate(90deg);
}

.accordion__content {
  overflow: hidden;
  max-height: 0;
  padding: 0;
  animation: animationHide var(--time-accordion-animation) linear;
}

.accordion__item--open .accordion__content {
  overflow: visible;
  max-height: 100%;
  padding: 0.5rem 0 2.5rem;
  animation: animationShow var(--time-accordion-animation) linear;
}
