@font-face {
  font-family: 'Avenir Next Rounded Std';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(../assets/AvenirNextRoundedStd-Reg.woff2) format('woff2');
}

@font-face {
  font-family: 'Avenir Next Rounded Std';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(../assets/AvenirNextRoundedStd-Med.woff2) format('woff2');
}

:root {
  /*Palette*/
  --palette-mirage: #1a1f29;
  --palette-shuttle-gray: #5e626b;
  --palette-manatee: #929499;
  --palette-deep-koamaru: #171c8f;
  --palette-silver: #cccccc;
  --palette-white: #ffffff;
  --palette-bombay: #aeaeb0;
  --palette-antique-brass: #c88252;
  --palette-apricot-peach: #f8cab1;
  --palette-sea-pink: #e9a0a7;
  --palette-dull-lavender: #ba9be5;
  --palette-concrete: #f2f2f2;
  --palette-deep-silver: #bdbdbd;
  --palette-red: #ff0000;

  /*Texts*/
  --text-color-primary: var(--palette-mirage);
  --text-color-secondary: var(--palette-shuttle-gray);
  --text-color-tertiary: var(--palette-manatee);
  --text-color-quaternary: var(--palette-deep-koamaru);
  --text-color-complementary-dark: var(--palette-deep-silver);
  --text-color-complementary-light: var(--palette-white);
  --text-color-error: var(--palette-red);

  /*Borders*/
  --border-color: var(--palette-silver);
  --border-color-input-checked: var(--palette-mirage);
  --border-color-hover: var(--palette-mirage);

  /*Backgrounds*/
  --background-input-disabled: var(--palette-concrete);
  --background-input-hover: var(--palette-white);
  --background-button-light: var(--palette-white);
  --background-button-dark: var(--palette-deep-koamaru);
  --background-quantity-active: var(--palette-concrete);
  --background-button-disabled: var(--palette-deep-silver);

  /*Colors*/
  --color-white: var(--palette-white);
  --color-black: var(--palette-mirage);
  --color-gray: var(--palette-bombay);
  --color-latte: var(--palette-antique-brass);
  --color-orange-latte: var(--palette-apricot-peach);
  --color-pink-latte: var(--palette-sea-pink);
  --color-purple-latte: var(--palette-dull-lavender);

  /*Times*/
  --time-transition-link: 0.3s;
  --time-transition-icons: 0.15s;
  --time-transition-label: 0.3s;
  --time-transition-button: 0.2s;
  --time-accordion-animation: 0.25s;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Avenir Next Rounded Std', sans-serif;
  line-height: 1.25;
  color: var(--text-color-primary);
}

abbr {
  text-decoration: none;
  content: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.container {
  max-width: 84.5rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;
}

@import './library/links.scss';
@import './library/headings.scss';
@import './library/buttons.scss';

@import './sections/alternate-header.scss';
@import './sections/alternate-product.scss';
@import './sections/alternate-recommendations.scss';
@import './sections/alternate-footer.scss';

@import './snippets/alternate-breadcrumbs.scss';
@import './snippets/alternate-product-card.scss';
