<section class="interesting">
    <div class="interesting__container container">
        <h2 class="interesting__heading heading heading--xl">You may also like</h2>
        <ul class="interesting__list" role="list">
            <li class="interesting__item">
                <article class="card">
                    <img class="card__image" src="https://vitaliykharlamov.netlify.app/media/photo-hoodie-purple.jpg" alt="Purple women hoodie photo">
                    <h3 class="card__heading heading">
                        <a class="card__link link link--xl" href="/purple_women_hoodie">Purple women hoodie</a>
                    </h3>
                    <ul class="card__list" role="list">
                        <li class="card__item">
                            <span class="visually-hidden">Latte</span>
                            <div class="card__color card__color--latte"></div>
                        </li>
                        <li>
                            <span class="visually-hidden">Orange latte</span>
                            <div class="card__color card__color--orange-latte"></div>
                        </li>
                        <li>
                            <span class="visually-hidden">Pink latte</span>
                            <div class="card__color card__color--pink-latte"></div>
                        </li>
                        <li>
                            <span class="visually-hidden">Purple latte</span>
                            <div class="card__color card__color--purple-latte"></div>
                        </li>
                    </ul>
                    <p class="card__price"><abbr class="card__price-currency" title="Swiss Franc">CHF</abbr> <span class="card__price-value">60</span></p>
                </article>
            </li>
            <li class="interesting__item">
                <article class="card">
                    <img class="card__image" src="https://vitaliykharlamov.netlify.app/media/photo-t-shirt-blue.jpg" alt="Blue men t-shirt photo">
                    <h3 class="card__heading heading">
                        <a class="card__link link link--xl" href="/blue_men_t-shirt">Blue men t-shirt</a>
                    </h3>
                    <ul class="card__list" role="list">
                        <li class="card__item">
                            <span class="visually-hidden">Latte</span>
                            <div class="card__color card__color--latte"></div>
                        </li>
                        <li>
                            <span class="visually-hidden">Orange latte</span>
                            <div class="card__color card__color--orange-latte"></div>
                        </li>
                        <li>
                            <span class="visually-hidden">Pink latte</span>
                            <div class="card__color card__color--pink-latte"></div>
                        </li>
                        <li>
                            <span class="visually-hidden">Purple latte</span>
                            <div class="card__color card__color--purple-latte"></div>
                        </li>
                    </ul>
                    <p class="card__price"><abbr class="card__price-currency" title="Swiss Franc">CHF</abbr> <span class="card__price-value">20</span></p>
                </article>
            </li>
            <li class="interesting__item">
                <article class="card">
                    <ul class="card__tags tags" role="list">
                        <li class="tags__item tags__item--sold-out">Sold out</li>
                    </ul>
                    <img class="card__image" src="https://vitaliykharlamov.netlify.app/media/photo-t-shirt-green.jpg" alt="Green women t-shirt photo">
                    <h3 class="card__heading heading">
                        <a class="card__link link link--xl" href="/green_women_t-shirt">Green women t-shirt</a>
                    </h3>
                    <ul class="card__list" role="list">
                        <li class="card__item">
                            <span class="visually-hidden">Latte</span>
                            <div class="card__color card__color--latte"></div>
                        </li>
                        <li>
                            <span class="visually-hidden">Orange latte</span>
                            <div class="card__color card__color--orange-latte"></div>
                        </li>
                        <li>
                            <span class="visually-hidden">Pink latte</span>
                            <div class="card__color card__color--pink-latte"></div>
                        </li>
                        <li>
                            <span class="visually-hidden">Purple latte</span>
                            <div class="card__color card__color--purple-latte"></div>
                        </li>
                    </ul>
                    <p class="card__price"><abbr class="card__price-currency" title="Swiss Franc">CHF</abbr> <span class="card__price-value">25</span></p>
                </article>
            </li>
            <li class="interesting__item">
                <article class="card">
                    <img class="card__image" src="https://vitaliykharlamov.netlify.app/media/photo-hoodie-black.jpg" alt="Black unisex hoodie photo">
                    <h3 class="card__heading heading">
                        <a class="card__link link link--xl" href="/black_unisex_hoodie">Black unisex hoodie</a>
                    </h3>
                    <ul class="card__list" role="list">
                        <li class="card__item">
                            <span class="visually-hidden">Latte</span>
                            <div class="card__color card__color--latte"></div>
                        </li>
                        <li>
                            <span class="visually-hidden">Orange latte</span>
                            <div class="card__color card__color--orange-latte"></div>
                        </li>
                        <li>
                            <span class="visually-hidden">Pink latte</span>
                            <div class="card__color card__color--pink-latte"></div>
                        </li>
                        <li>
                            <span class="visually-hidden">Purple latte</span>
                            <div class="card__color card__color--purple-latte"></div>
                        </li>
                    </ul>
                    <p class="card__price"><abbr class="card__price-currency" title="Swiss Franc">CHF</abbr> <span class="card__price-value">55</span></p>
                </article>
            </li>
        </ul>
    </div>
</section>

{% schema %}
    {
        "name": "alternate-recommendations",
        "settings": [
        {
            "type": "text",
            "id": "recommendations_title",
            "label": "Heading",
            "default": "Recommendations heading"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "quality",
            "min": 3,
            "max": 6,
            "step": 1,
            "label": "Quality products",
            "default": 4
        }
        ]
    }
{% endschema %}
