.button {
  appearance: none;
  display: block;
  width: 100%;
  font-family: inherit;
  font-weight: inherit;
  font-size: 0.875rem;
  line-height: 1.2143;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.96875rem;
  cursor: pointer;
  transition: $time-transition-button linear;

  &:hover {
    outline: 0.0625rem solid $border-color-hover;
    outline-offset: 0.125rem;
  }

  &--light {
    color: $text-color-primary;
    background-color: $background-button-light;
    border: 0.0625rem solid $border-color;
  }

  &--light:active {
    outline: none;
    background-color: $border-color;
  }

  &--dark {
    color: $text-color-complementary-light;
    background-color: $background-button-dark;
    border: 0.0625rem solid $background-button-dark;
  }

  &--dark:active {
    outline: none;
    opacity: 0.8;
  }
}
