.skip-link {
  text-decoration: none;
  color: $text-color-primary;
  background-color: $background-skip-link;
  position: absolute;
  margin: 0;
  transform: translateY(-100%);
  transition: $time-transition-link linear;

  &:focus {
    margin: 0.5rem;
    transform: translateY(0%);
  }
}
