.breadcrumbs {
  margin-bottom: 2.21875rem;
}

.breadcrumbs-navigation {
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
  }

  &__item {
    position: relative;
  }

  &__item:not(:last-of-type)::after {
    content: '/';
    position: absolute;
    left: calc(100% + 0.625rem);
    bottom: 0;
    color: var(--text-color-tertiary);
    font-size: 0.875rem;
    line-height: 1.2143;
  }

  &__current {
    color: var(--text-color-tertiary);
    font-size: 0.75rem;
  }
}
